
.navigation {
    height: 60px;
    width: 1400px;
    background: radial-gradient(ellipse farthest-corner at 50% 80%,
    rgb(252, 118, 0) 10%, rgba(0, 123, 255, 0.701) 80%, rgb(0, 47, 255));
    margin: 30px auto;
    border-radius: 20px;
    padding: 0 30px;
}

.navigation_list {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.link:hover {
    position: relative;
    left: 2px;
    bottom: 2px;
}

.navigation_list li:nth-child(2) {
    margin-right: 430px;
}

.img__main {
    width: 35px;
    margin-right: 5px;
}

.navigation_enter {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link__registration:hover {
    position: relative;
    left: 2px;
    bottom: 2px;
}

.navigation__img {
    width: 35px;
    margin-left: 10px;
    display: block;
}

.cont__img {
    margin-left: 15px;
}

.navigation_list li:nth-child(3) {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: end;
}

.navigation__img:hover {
    cursor: pointer;
}

.cont__img:hover::after {
    content: attr(data-title);
    cursor: pointer;
}